:root {

}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c2d !important ;
  color: #d1cdc7 !important;
}

.main-heading {
  font-size: 7.75rem;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

.sub-heading {
  font-size: 32px;
  text-align: center;
  margin: 0px;
  font-weight: lighter;
}

.created {
  font-size: 32px;
  font-weight: lighter;
}


button {
  color: rgb(232, 230, 227) !important;
  background-color: rgb(44, 47, 49) !important;
  border-color: rgb(121, 112, 99) !important;
}